.driver {
    display: grid;
    grid-template-columns:
        minmax(0, 1fr)
        minmax(0, 1fr)
        minmax(0, 4fr)
        minmax(0, 3fr);
    height: 2.5em;
    position: relative;
}

.driver.player {
    background-color: #ffffff33;
}

.driver :not(.name):not(.position) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.position {
    color: grey;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 0.15em;
}

.brand {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 70%;
    height: 70%;
    align-self: center;
    justify-self: center;
}

.name {
    /* text-transform: uppercase; */
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    padding-left: 0.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto 0;
    overflow: hidden;
}

.gap {
    color: lightgrey;
    font-weight: 100;
}

.tire {
    color: darkred;
}

/* .fastest-lap {
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--fastest-lap-color);
    position: absolute;
    right: -15.3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
} */
