.results-driver-container {
    display: grid;
    grid-template-columns: var(--results-columns-template);
    font-size: 1rem;
}

.player {
    background-color: #dcdcdc;
}

.player div {
    color: black !important;
}

.results-driver-container div:not(.position) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.results-driver-container div:not(.position):not(.car):not(.name) {
    text-align: center;
}

.results-driver-container div {
    color: white;
    font-weight: 100;
    padding: 0.3rem 0.3rem;
}

.brand {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    scale: 80%;
}

.position {
    text-align: end;
}
