@font-face {
    font-family: 'Formula 1 Display';
    src: url('./assets/fonts/Formula1-Regular.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'Formula 1 Display';
    src: url('./assets/fonts/Formula1-Black.ttf');
    font-weight: bolder;
}
@font-face {
    font-family: 'Formula 1 Display';
    src: url('./assets/fonts/Formula1-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Formula 1 Display';
    src: url('./assets/fonts/Formula1-Wide.ttf');
    font-stretch: expanded;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Formula 1 Display', SF Mono, consolas;
}

:root {
    --outer-border-radius: 1.5em;
    --inner-border-radius: 0.75em;
    --drivers: 0;
    --max-drivers-visible: 10;
    --blue-flag-color: #152039;
    --blurry-background-color: #ffffff0e;
    --blurry-background-border-color: #0000000e;
    --tower-main-background-color: #000000ce;
    --tower-main-background-border-color: #0000000c;
    --blurry-background-flag-color: transparent;
    --blurry-background-flag-border-color: transparent;
    --results-border-background-color: #ffffff07;
    --results-border-border-color: #ffffff60;
    --results-main-background-color: #0b0c15ce;
    --fastest-lap-color: #7d358d;

    /* pos name brand car fl fps ping*/
    --results-columns-template: minmax(0, 0.3fr) minmax(0, 1fr) minmax(0, 0.5fr)
        minmax(0, 0.9fr) minmax(0, 0.9fr) minmax(0, 0.4fr) minmax(0, 0.4fr);
}

body {
    height: 100vh;
    width: 100vw;
    padding-top: 3rem;
    padding-left: 1rem;
}
